# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
.env/
.venv/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/
local_settings.py

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# User specific
notes.txt
notes.png

# Environment variables
.env
